config settings
	option enabled 0
	option line_download 1024
	option line_upload 1024

config shape
	option ip_addr 192.168.1.2
	option guaranted_dl 256
	option max_dl 1024
	option guaranted_ul 256
	option max_ul 1024

config shape
	option ip_addr 192.168.1.3
	option guaranted_dl 256
	option max_dl 512
	option guaranted_ul 256
	option max_ul 512
